<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664679183291-037ccq2lqr4l76omp5kelrsc9g0rpcql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664679183291-037ccq2lqr4l76omp5kelrsc9g0rpcql</string>
	<key>API_KEY</key>
	<string>AIzaSyCWbDUGLiLVolihpBjHFd6HRgFgOOpKFiA</string>
	<key>GCM_SENDER_ID</key>
	<string>664679183291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reagentColorsTest</string>
	<key>PROJECT_ID</key>
	<string>flut-reagent</string>
	<key>STORAGE_BUCKET</key>
	<string>flut-reagent.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664679183291:ios:8c329d7a513e0b68ef8a9e</string>
</dict>
</plist>